*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.containter{
    width: 100%;
    height: 100vh;
    background-color: #6a9fb5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    padding: 20px;
    height: 400px;
    width: 300px;
    background-color: #414952;
    border-radius: 20px;

}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    
}

form .dispaly{
    display: flex;
    justify-content: flex-end;
    /* margin: 20px 0; */
}

form .dispaly input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 122px;
}